<div class="blog_sidebar">
	
	<h2>Latest entries</h2>
	<ul class="blog_sidebar_ul">
		{% for entryit in last_blog_entries %}
			<li>
				<a href="{% url webEval.web_eval__core.blog__controller.display_entry username=entryit.author.username permalink=entryit.permalink %}">
					{{ entryit.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
	
	
	{% if request.user.is_authenticated %}
	
	
	{% if request.user.userprofile.blogrollentry_set.all.count %}
		<h2>My blogroll</h2>
		<ul class="blog_sidebar_ul">
			{% for entry_it in request.user.userprofile.blogrollentry_set.all %}
			<li>
				<a href="{{ entry_it.link }}">{{ entry_it.name }}</a>
			</li>
			{% endfor %}
		</ul>
	{% endif %}
	<h2>Panel</h2>
	<ul class="blog_sidebar_ul">
		<li><a href="{% url webEval.web_eval__core.blog__controller.new_entry %}">Post new blog entry</a></li>
		<li><a href="{% url webEval.web_eval__core.blog__controller.index username=request.user.username %}">My blog</a></li>
	</ul>
	{% endif %}
</div>