{% extends "webEval_base.html" %}
{% block title %}
	Create contest
{% endblock %}
    
{% block wiki_page %}
	<form method="post" action="{% url webEval.web_eval__core.grader__controller.create_contest %}">{% csrf_token %}
		<fieldset>
			<legend>Create contest</legend>
			<label for="title">Code</label><br>
			<span class="form_error">{{ form.errors.code }}</span>
			<input type="text" name="code" id="form_code" value="{{ form.data.code }}" size="16" />
			<br><br>
			<label for="type">Type</label><br>
			<span class="form_error">{{ form.errors.type }}</span>
			<select name="type" id="form_contest_type">
				<option value="O" {% ifequal form.data.type "O" %}selected{% endifequal %}>Olympiad</option>
				<option value="A" {% ifequal form.data.type "A" %}selected{% endifequal %}>A.C.M.</option>
				<option value="C" {% ifequal form.data.type "C" %}selected{% endifequal %}>Custom</option>
			</select>
			<br> <br>
			<input type="submit" class="submit" title="Create" value="Create">
		</fieldset>
	</form>
{% endblock %}
