{% extends "webEval_base.html" %}
{% load util_tags %}

{% block title %}
    Contests
{% endblock %}
{% block wiki_page %}
{% if active_or_upcoming_contests %}
	<h2>Current or upcoming contests</h2>
	
	<table class='contests_table'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Start time</th>
				<th>Duration</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for contest in active_or_upcoming_contests %}
			<tr class="odd">
				<td class="contest_name_column"><a href="{% url webEval.web_eval__core.grader__controller.display_contest contest_code=contest.code %}">{{ contest.name }}</a></td>
				<td class="contest_start_time">
					<a href="http://timeanddate.com/worldclock/fixedtime.html?{{ contest.start_time|timeanddate_template|safe }}">
						{{ contest.start_time|date:"d/m/Y H:i:s" }}
					</a>
				</td>
				<td class="contest_duration">{{ contest.duration }}</td>
				<td class="contest_start_time_countdown">
					{% if contest.started %}
						Before contest ends: <span class="grey">{{ contest.end_time|timedelta }}</span>
					{% else %}
						Before start: <span class="grey">{{ contest.start_time|timedelta }}</span>
					{% endif %}
				</td>
				<td class="contest_register_time_countdown">
					{% if contest.started %}
						<a href="">{{ contest.registered_users_count }} users registered</a> 
					{% else %}
						{% if contest.registration_started %}
							{{ contest.registration_end_time|timedelta }} until registration ends.
						{% else %}
							Before registration <span class="grey">{{ contest.registration_start_time|timedelta }}</span>
						{% endif %}
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if old_contests %}
	<h2> Past contests </h2>
	<table class='contests_table'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Start time</th>
				<th>Duration</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for contest in old_contests %}
			<tr>
				<td class="contest_name_column"><a href="{% url webEval.web_eval__core.grader__controller.display_contest contest_code=contest.code %}">{{ contest.name }}</a></td>
				<td class="contest_start_time">{{ contest.start_time|date:"d/m/Y H:i:s" }}</td>
				<td class="contest_duration">{{ contest.duration }}</td>
				<td class="contest_results"><a href="">View results</a></td>
				<td class="contest_register_time_countdown"><a href="">{{ contest.registered_users_count }} users registered</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endblock %}