<li>
	<a href="{% url webEval.web_eval__core.grader__controller.display_contest contest_code="archive" %}">
		Problem archive
	</a>
</li>

<li>
	<a href="{% url webEval.web_eval__core.grader__controller.display_contest contest_code="training" %}">
		Training archive
	</a>
</li>

<li>
	<a href="{% url webEval.web_eval__core.grader__controller.display_all_contests %}">
		Contests
	</a>
</li>

<li>
	<a href="{% url webEval.web_eval__core.grader__controller.ranks %}">
		Ranks
	</a>
</li>

<li>
	 <a href="{% url webEval.web_eval__core.grader__controller.status %}">
	 	Status
	 </a>
</li>

<li>
	<a href="{% url webEval.web_eval__core.grader__controller.submit %}">
		Submit
	</a>
</li>