{% extends "webEval_base.html" %}

{% block title %}
    Forum
{% endblock %}

{% block extra_css %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}/css/forum_style.css"> 
{% endblock %}
 
{% block extra_js %}
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/ed.js"></script>  
{% endblock %}

{% block wiki_page %}
	{% include "forum/include_stack.html" %}
	<div class="forum_history_clear"></div>
	<form method="post" action="{% url webEval.web_eval__core.forum__controller.reply topic_id=topic.id %}" id="form_wikiedit">
	    {% csrf_token %}
	    <ul class="form">      
	        <li id="field_title">
		        <label for="form_title">Title</label>
		        {{ form.errors.title }}
		        <input name="title" type="text" value="{% if form.data.title %}{{ form.data.title }}{% else %}Re: {{ topic.last_post.title }}{% endif %}" id="form_title">
		    </li>
		
		    <li id="field_content">
		        <label for="form_content">Content</label>
		        <script>edToolbar('form_text'); </script>
		        <textarea id="form_text" name="content" rows="10" cols="50"type="text">{{ form.data.content|safe }}</textarea><br>
		    </li>
		</ul>	        
	    <input name="submit" value="Post" class="button" type="submit" size="30">
	</form>
	<div class="forum_history_clear"></div>
	{% include "forum/include_stack.html" %}
{% endblock %}