body {
  color: #F2F2F2;
  background: url("paper_3.gif") repeat;
  overflow: scroll;
  padding: 0px;
  margin: 0px;
}

#page {
  margin: 0px auto;
  margin-top: 70px;
  width: 1300px;
}
#body_wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.float_breaker {
  clear: both;
  height: 20px;
  margin : 0px;
  padding : 0px;
  visibility: hidden;
}


/* Header */

header{
  display: block;
  height: 40px;
  width:100%;
  background: -webkit-gradient(linear,left top,left bottom,from(#666),to(#111)) ;
  background: -moz-linear-gradient(top,#666,#111);
  background: -o-linear-gradient(#666, #111);
  position: absolute;
  top: 0px;

}
#inner_header{
  width: 1300px;
  display: block;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  border: 0px;
  background: -webkit-gradient(linear,left top,left bottom,from(#666),to(#111)) ;
  background: -moz-linear-gradient(top,#666,#111);
  background: -o-linear-gradient(#666, #111); 
}

#logo {
  display: inline-block;
  margin-top: 30px;
}

#header_options {
  float: right;
}
/* Header - search bar */
#search_bar{
  width:200px;
  display: inline-block;
}
.search_bar_box {
  background-color: black;
  height: 100%;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  /*border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);*/
  background: transparent;
/*  background: #111;
  
  background: -webkit-gradient(linear,left top,left bottom,from(#444),to(#111)) ;
  background: -moz-linear-gradient(top,#444,#111);
  background: -o-linear-gradient(#444, #111);*/
}

.search_bar_text {
  margin-left: 10px;
  margin-right: 0px;
  padding-right: 0px;
  color: black;
  background-color: #ccc;
  display: inline-block;
  width:80%;
  border-width: 0px;
  height: 18px;
  background-color: #777;
  border-top-left-radius: 10px;
  color: #bbb ;
}

.search_bar_glass {
  margin-left: 0px;
  padding-left: 0px;
  background: #777 url("glass.png") no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  right: 5px;
  cursor: pointer;
  vertical-align: bottom;
  border-bottom-right-radius: 10px;
  
}

/* Header - user menu */
  
#user_options {
  padding: 0px;
  margin: 0px;
  margin-right: 5px;
  margin-left: 30px;
  display: block;
  float: right;
}

#user_options ul {
  list-style-type: none;
  margin: 0px;
}

#user_options li {
  display: inline-block;
}

#user_options a {
  text-decoration: none;
  display: block;
  height: 20px;
  /* fallback */
  background: transparent;  
  /*
  background: -webkit-gradient(linear,left top,left bottom,from(#444),to(#111)) ;
  background: -moz-linear-gradient(top,#444,#111);
  background: -o-linear-gradient(#2F2727, #1a82f7);*/
  
  border-radius: 6px;
  vertical-align: baseline;
  text-align: center;
  padding: 6px 10px 15px 10px;
  margin-left: 10px;
}

#user_options a:visited, a:link, a:active {
  color: #BABABA
}

#user_options a:hover {
  background: black;
  color: white;
}

/* Navigation Bar */
nav {
  display:inline-block;
  background-color: transparent;  
  margin-left: 30px;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-left: 20px;
}
nav li {
  display: inline-block;
}
nav li a {
  text-decoration: none;
  display: block;
  height: 19px;
  width: auto;
  /* fallback */
/*  background: #111;
  background: -webkit-gradient(linear,left top,left bottom,from(#444),to(#111)) ;
  background: -moz-linear-gradient(top,#444,#111);
  background: -o-linear-gradient(#2F2727, #1a82f7);*/
  border-radius: 6px;
  vertical-align: baseline;
  text-align: center;
  padding: 6px 10px 15px 10px;
  margin-left: 30px;
  margin-top: 0px;
}

nav li a:visited, nav li a:link, nav li a:active {
  color: #BABABA
}

nav li a:hover {
  background: black;
  color: white;
}
/* Content */
#content {
  width: 930px;
  height:  600px;
  float: left;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #ccc; 
  border-style: solid;
  border-color: #ccc;
  border-width: 2px;
  background-color: white;
  color: black;
  
  padding :25px;
}


/* Right_bar */

#right_bar {
  margin-left: 30px;
  margin-top: 0px;
  width: 240px;
  height: 500px;
  float: right;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #ccc; 
  border-style: solid;
  border-color: #ccc;
  border-width: 2px;
  background-color: white;
  color: black;
  
  padding :20px;
}


/* Footer */

#page footer {
  clear: both;
  margin-top: 30px;
  height: 100px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #ccc; 
  border-style: solid;
  border-color: #ccc;
  border-width: 2px;
  background-color: white;
  color: black;
  
  padding :20px;
}